In [1]:
import pandas as pd

import animalhelper as ah
import pickle

%load_ext autoreload
%autoreload 2

In [2]:
!ls data

aac_intakes.csv          df_dog.csv               master12218.csv
aac_intakes_outcomes.csv df_mod.csv               master_df.csv
aac_outcomes.csv         engineered.csv           master_df_1128.csv
all_categoricals.csv     group_shade.csv          master_df_1129.csv
concat_backup.csv        hour_ids.csv             model12218.csv
df_cat.csv               hr_name.csv

In [3]:
df = pd.read_csv('./data/aac_intakes.csv')

In [4]:
df_name = df[['animal_id', 'name']]

In [5]:
from collections import Counter

In [6]:
name_freqs = Counter(df_name['name'].str.replace(r'(\*)', '').dropna())

In [7]:
name_freqs

Counter({'Belle': 52,
         'Runster': 1,
         'Rio': 22,
         'Odin': 32,
         'Mumble': 1,
         'Casey': 18,
         'Candy Cane': 1,
         'Pearl': 59,
         'Tommy': 37,
         'Mint': 7,
         'Twilight': 5,
         'Stumpy': 2,
         'Cleopatra': 10,
         'Roo': 12,
         'Dieve': 1,
         'Romeo': 52,
         'Raven': 38,
         'Pepper': 123,
         'Calseta': 6,
         'Boxer': 5,
         'Henry': 66,
         'Magic': 11,
         'Annie': 58,
         'Travis': 25,
         'Talesin': 1,
         'Dillon': 3,
         'Petria': 1,
         'Alexander': 11,
         'Banjo Joey': 1,
         'Guardian': 5,
         'Clancy': 6,
         'Wella': 3,
         'Valerie': 5,
         'Guacamole': 2,
         'Chico': 132,
         'Chappie': 5,
         'The Dude': 1,
         'Blackie': 43,
         'Hercules': 55,
         'Stanley': 21,
         'Dreamer': 1,
         'Pancake': 15,
         'London': 16,
         'Cinnamon': 38,
         'Lila': 19,
         'Doug': 19,
         'Ash': 23,
         'Simon': 54,
         'Dizzy': 11,
         'Axle': 6,
         'Duckie': 2,
         'China': 13,
         'Applez': 1,
         'Scooby Dee': 1,
         'Norman': 12,
         'Myrtle': 10,
         'Mo': 5,
         'Snow': 50,
         'Fletcher': 7,
         'Tina': 33,
         'Rusty': 57,
         'Kent': 2,
         'Olive': 61,
         'Cowboy': 47,
         'Ada': 4,
         'Ella': 48,
         'Lily': 170,
         'Sarge': 11,
         'Bearry': 2,
         'Lexi': 38,
         'Winston': 59,
         'Hana': 3,
         'Cooper': 99,
         'Jackson': 78,
         'Domino': 30,
         'Bella': 382,
         'Sparrow': 11,
         'Polly': 50,
         'Canela': 21,
         'Kaden': 2,
         'Tequila': 11,
         'Greyworm': 1,
         'Tomtom': 2,
         'Oso': 88,
         'Oreo': 128,
         'Gia': 10,
         'Bill': 12,
         'Teddy': 84,
         'Whitney': 5,
         'Harmony': 10,
         'Mia': 125,
         'Chrissie': 2,
         'Margaret': 3,
         'Piggy': 3,
         'Velvet': 21,
         'Emma': 75,
         'Claressa': 2,
         'Haydee': 1,
         'Sean': 4,
         'Cosmo': 26,
         'Phat Phat': 1,
         'Walker': 11,
         'Dopey': 1,
         'Hank': 70,
         'Tigger': 43,
         'Dallas': 39,
         'Precious': 77,
         'Gigi': 46,
         'Bauer': 2,
         'Girly': 5,
         'Tilly': 32,
         'Coda': 4,
         'Willa': 11,
         'Stella': 104,
         'Cobes': 2,
         'Little Bit': 23,
         'Shelby': 38,
         'Greyson': 6,
         'Cake': 3,
         'Juniper': 10,
         'Tramp': 10,
         'Kiwi': 17,
         'Finnegan': 7,
         'Dexter': 72,
         'Riggs': 4,
         'Harrier': 1,
         'Jj': 16,
         'Paprika': 4,
         'Izzy': 48,
         'Dwight': 4,
         'Scout': 58,
         'Krash': 1,
         'Sandy': 79,
         'Monty': 31,
         'Dollar': 5,
         'Paco': 19,
         'Momma': 7,
         'Andy': 34,
         'Jb': 2,
         'Dina': 4,
         'Amy': 26,
         'Donut': 4,
         'Jenny': 35,
         'Gracie': 83,
         'Midnight': 62,
         'Darla': 16,
         'Kadee': 1,
         'Penelope': 56,
         'Stitch': 14,
         'L.D.': 2,
         'Buster G': 1,
         'Java': 7,
         'Nexus': 2,
         'Tanner': 16,
         'Freckles': 26,
         'Reyna': 8,
         'Landan': 1,
         'Matie': 1,
         'Murphy': 55,
         'Sundae': 11,
         'Moose': 47,
         'Sammi': 3,
         'Clara': 16,
         'Pretzel': 6,
         'Zorra': 1,
         'Minion': 2,
         'Blanca': 34,
         'Mega': 6,
         'Guerro': 3,
         'Cali': 32,
         'Lynnette': 2,
         'Sophie': 105,
         'Kip': 3,
         'Sassy': 40,
         'Lalo': 8,
         'Sage': 34,
         'Black': 9,
         'Jeb': 2,
         'Boo': 28,
         'Lucky': 150,
         'Penny': 126,
         'Simba': 64,
         'Cat': 6,
         'Lycha': 1,
         'Riley': 92,
         'Aster': 6,
         'Jupiter': 22,
         'Mini Cooper': 1,
         'Negra': 15,
         'Benny': 43,
         'Mackeral': 1,
         'Mikal': 2,
         'Honey': 92,
         'Bo': 44,
         'Piper': 65,
         'Snow Ball': 1,
         'Saki': 5,
         'Griffin': 17,
         'Pete': 47,
         'Tux': 19,
         'Thor': 60,
         'Turk': 1,
         'Harley': 103,
         'Nina': 56,
         'Laika': 8,
         'Coco': 206,
         'Luna': 294,
         'Runt Runt': 1,
         'Roxy': 89,
         'Carley': 3,
         'Apollo': 57,
         'Ken': 2,
         'Moonbeam': 2,
         'Sheila': 20,
         'Ripley': 12,
         'Hazel': 74,
         'Amethyst': 1,
         'Millie': 62,
         'Dulce': 9,
         'Gizmo': 68,
         'Brett': 3,
         'Dylan': 18,
         'Bonbon': 6,
         'Mearu': 1,
         'Blake': 16,
         'Gilley': 5,
         'Willienelso': 1,
         'Buck': 18,
         'Evita': 1,
         'Chickla': 3,
         'Arya': 18,
         'Luke': 99,
         'Kasey': 11,
         'Khan': 7,
         'Princess': 245,
         'Sirius': 11,
         'Jarvis': 5,
         'Marmalade': 12,
         'Rafa': 3,
         'Joey': 49,
         'Benson': 7,
         'Sarita': 4,
         'Blue': 193,
         'Jack': 184,
         'Mamas': 13,
         'Frank': 23,
         '096': 1,
         'Radar': 16,
         'Campeon': 2,
         'Oscar': 86,
         'Gonzo': 11,
         'Viper': 2,
         'Boca': 1,
         'Puppy 3': 1,
         'Gideon': 8,
         'Gibson': 16,
         'Leo': 115,
         'Mikey': 33,
         'Baby': 93,
         'Pistachio': 5,
         'Noelle': 6,
         'Sam': 108,
         'Handsome': 11,
         'Kuku': 1,
         'Jester': 12,
         'Anastasia': 12,
         'Daisy': 292,
         'Camo': 2,
         'Frannie': 10,
         'Diamond': 93,
         'Tex': 23,
         'Athena': 59,
         'Duke': 138,
         'Welby': 1,
         'Moana': 2,
         'Fizzy Bevo': 1,
         'Day': 1,
         'Poppy': 48,
         'Isis': 15,
         'Dolly': 47,
         'Lola': 205,
         'Dobby': 22,
         'Dez': 4,
         'Sparky': 45,
         'Molly': 162,
         'Tero': 1,
         'Peepsqueak': 1,
         'Bevo': 40,
         'Houston': 16,
         'Coal': 11,
         'Booba': 1,
         'Shadow': 143,
         'Jojo': 34,
         'Winnie': 53,
         'Pepito': 8,
         'Bobby': 52,
         'Austin': 58,
         'Harper': 21,
         'Hollywood': 4,
         'Nate': 13,
         'Sadie': 169,
         'Chicharro': 4,
         'Muñeca': 4,
         'Cash': 55,
         'Spud': 7,
         'Nathan': 6,
         'Pretty Boy': 6,
         'Negrito': 2,
         'Hoss': 7,
         'Sammy': 77,
         'Eagle': 5,
         'Lyon': 1,
         'Sly': 4,
         'Max': 381,
         'Junior': 41,
         'Roscoe': 61,
         'Davis': 7,
         'Chewy': 35,
         'Dixie': 61,
         'Bernadette': 7,
         'Angel': 84,
         'Roky': 2,
         'King': 102,
         'Xafi': 2,
         'Bird': 6,
         'Mgk': 1,
         'Lizzy': 21,
         'Buddy': 232,
         'Autumn': 21,
         'Oj': 3,
         'Killer': 11,
         'Charming': 12,
         'Prince Eric': 1,
         'Man': 4,
         'Ozma': 1,
         'Tony': 38,
         'Violet': 46,
         'Tiger': 96,
         'Tucker': 75,
         'Troop': 2,
         'Ducky': 12,
         'Django': 14,
         'Fernanda': 1,
         'Nova': 30,
         'Storm': 25,
         'Harley Quinn': 2,
         'Kiki': 44,
         'Tiny': 43,
         'Puddles': 5,
         'Jules': 15,
         'Robbie': 8,
         'Sandra': 4,
         'Muneco': 7,
         'Misha': 3,
         'Katy': 13,
         'Brewster': 7,
         'Elsa': 35,
         'Willie': 62,
         'Alejandra': 1,
         'Emily': 38,
         'Marshmallow': 13,
         'Moe': 28,
         'Sasha': 111,
         'Sally': 55,
         'Mj': 7,
         'Hera': 16,
         'Karis': 2,
         'Zeus': 149,
         'Twila': 4,
         'Rafe': 1,
         'Aurora': 19,
         'Smokey': 110,
         'Raisin': 5,
         'Echo': 15,
         'Stud Muffin': 1,
         'Pattie': 1,
         'Eddie': 40,
         'Abby Tang': 1,
         'Cookie': 140,
         'Papaya': 3,
         'Sampson': 33,
         'Bowie': 18,
         'Cesar': 19,
         'Xan': 1,
         'Onyx': 37,
         'Rhino': 13,
         'Tyson': 54,
         'Abby': 85,
         'Moses': 12,
         'Joe': 14,
         'Viktor': 1,
         'Numi': 1,
         'Ramond Juan': 1,
         'Tesla': 10,
         'Mitty': 2,
         'Mimsy': 2,
         'Adelaide': 6,
         'Kooy': 1,
         'Montana': 7,
         'Axel': 29,
         'Lobo': 42,
         'Akeila': 1,
         'Jasper': 90,
         'Parker': 29,
         'Patches': 45,
         'Jesse': 24,
         'Friday': 8,
         'Buckwheat': 1,
         'Frosty': 11,
         'Dodger': 14,
         'Pear': 3,
         'Hugo': 19,
         'Rosie': 109,
         'Negro': 13,
         'Pichu': 1,
         'Spartan': 1,
         'Hambone': 8,
         'Extraspecial': 1,
         'Rex': 111,
         'Chick': 1,
         'Prince': 57,
         'Queenie': 14,
         'Deuce': 12,
         'Hayworth': 2,
         'Tennessee': 2,
         'Jill': 24,
         'Graziella': 1,
         'Sobeck': 2,
         'Rice': 3,
         'Rowena': 2,
         'Otter': 13,
         'Cora': 16,
         'Jasmine': 83,
         'Lewis': 9,
         'Willow': 68,
         'Mary': 34,
         'Jelly Bean': 8,
         'Oliver': 109,
         'Scarlett': 20,
         'Barnaby': 9,
         'Mardi': 1,
         'Pogo': 6,
         'Bebe': 23,
         'Jam': 6,
         'Shalom': 1,
         'Herlinda': 1,
         'Louie': 77,
         'Waffles': 11,
         'Butters': 33,
         'Suchen': 1,
         'Layla': 57,
         'Tui': 2,
         'Chilito': 1,
         'Allie': 33,
         'Lilly': 69,
         'Wilma': 24,
         'Juliette': 11,
         'Torque': 2,
         'X': 39,
         'Ghost': 44,
         'Atticus': 16,
         'Crook': 4,
         'Norris': 3,
         'Paisley': 17,
         'Lucy': 251,
         'Klein': 1,
         'Susette': 2,
         'Bijou': 4,
         'Nacho': 18,
         'Bailey': 106,
         'Plato': 6,
         'Han': 3,
         'Delilah': 31,
         'Beau': 63,
         'Shai': 1,
         'Mcruber': 6,
         'Chato': 22,
         'Groot': 4,
         'Chuy': 20,
         'Marley': 127,
         'Babs': 10,
         'Greta': 26,
         'Skooter': 1,
         'Elvira': 9,
         'Yuri': 4,
         'Lyric': 6,
         'Sylvester': 18,
         'Clover': 21,
         'Tort': 1,
         'Juno': 34,
         'Trapper': 3,
         'Marty': 37,
         'Maxey': 1,
         'Kitty': 58,
         'Charlotte': 39,
         'Carrots': 2,
         'Jessie': 30,
         'Iris': 35,
         ' Joanie': 1,
         'Sprout': 7,
         'Junies': 1,
         'Numpkin': 3,
         'Chopper': 9,
         'Lala': 17,
         'Ginger': 124,
         'Spot': 44,
         'Anna': 18,
         'Ariel': 18,
         'Dagger': 1,
         'Slicer': 1,
         'Mystical': 1,
         'Grace': 38,
         'Pandora': 19,
         'Justin': 11,
         'Coraje': 2,
         'Libby': 37,
         'Enchilada': 3,
         'Shaft': 2,
         'Oona': 4,
         'Sochi': 3,
         'Toby': 146,
         'Karlee': 1,
         'Bear': 142,
         'Peachy': 3,
         'Wrinkle': 1,
         'Lillie': 4,
         'Joaquin': 3,
         'Freddy': 15,
         'Bruce': 66,
         'Miracle': 8,
         'Judah': 1,
         'Tonka': 12,
         'Bruno': 73,
         'Rory': 12,
         'Dusty': 18,
         'Bindy': 3,
         'Salvador': 3,
         'Brownie': 100,
         'Red': 55,
         'Americus': 1,
         'Brian': 9,
         'Tito': 29,
         'Parsnip': 3,
         'Freya': 21,
         'Leia': 41,
         'Mickey': 54,
         'Pippa': 14,
         'Dante': 18,
         'Tallulah': 10,
         'Amador': 3,
         'Morpheus': 4,
         '015': 1,
         'Little Hero': 1,
         'Lita': 7,
         'Harold': 11,
         'Kenny': 11,
         'Nick': 17,
         'Razzle': 5,
         'Polo': 12,
         'Folger': 1,
         'Herc': 2,
         'Balsamic': 1,
         'Pecas': 5,
         'Percy': 24,
         'Peppy': 2,
         'Chula': 29,
         'Bonnie': 77,
         'Herdy Gerty': 2,
         'Alexandre': 1,
         'Kennedy': 4,
         'Haven': 5,
         'Elvis': 40,
         'Sussy': 4,
         'Hazelnut': 3,
         'Elroy': 7,
         'Hampton': 2,
         'Winona': 3,
         'Maggie': 131,
         'Tabitha': 24,
         'Tonii Yayo': 2,
         'Minnie': 76,
         'Night': 3,
         'Mocha': 30,
         'Kodiak': 5,
         'Rifle': 1,
         'Ivy': 32,
         'Captain': 39,
         'Lilo': 9,
         'Dori': 5,
         'Mokie': 1,
         'Ragnar': 6,
         'Bebie': 1,
         'Garner': 1,
         'Chulo': 10,
         'Elwood': 4,
         'Phoenix': 20,
         'Richard': 6,
         'Eve': 15,
         'Daria': 4,
         'Shuri': 1,
         'Scarlet': 25,
         'Jessye Jane': 1,
         'Waldo': 7,
         'Kouga': 1,
         'Tomas': 5,
         'Chocolate': 27,
         'Petunia': 38,
         'Possum': 11,
         'Duncan': 26,
         'Solobino': 1,
         'Rosemary': 9,
         'Prudence': 4,
         'Mio': 7,
         'Matilda': 18,
         'Sawyer': 19,
         'Don': 3,
         'Ramey': 1,
         'Silka': 1,
         'Taco': 26,
         'Canelo': 37,
         'Astro': 26,
         'Charly': 2,
         'Phoebe': 39,
         'Rolly': 2,
         'Popcorn': 8,
         'Manchas': 24,
         'Zaih': 1,
         'Audrey': 15,
         'Bossman': 2,
         'Jessa': 2,
         'Bach': 6,
         'Snoop': 12,
         'Steve': 21,
         'May': 13,
         'Biscuits': 2,
         'Colby': 17,
         'Stewart': 16,
         'Knox': 8,
         'Matrix': 2,
         'Optimus': 1,
         'Bubba': 50,
         'Chelsea': 20,
         'Chris': 12,
         'Santos': 1,
         'Guthor': 2,
         'Mister': 6,
         'Peluchona': 1,
         'Della': 2,
         'Chai': 9,
         'Zoey': 86,
         'Clementine': 23,
         'Noah': 17,
         'Trevor': 15,
         'Cleo': 46,
         'Frida': 30,
         'Bullet': 22,
         'Peanut': 106,
         'Solo': 6,
         'Scoot': 2,
         'Chapi': 2,
         'Chita': 4,
         'Pattycake': 1,
         'Ryland': 1,
         'Moonshine': 6,
         'Sooter': 2,
         'Guero': 10,
         'Morgan': 22,
         'Earle': 1,
         'Neville': 9,
         'Xena': 32,
         'Mindy Lou': 1,
         'Lanie': 6,
         'Peaches': 56,
         'Perseus': 8,
         'Zero': 11,
         'Gabby': 33,
         'Bilbo': 6,
         'Rocky': 263,
         'Wicket': 4,
         'Lenny': 12,
         'Wiley': 10,
         'Casper': 36,
         'Goldie': 32,
         'Ralphie': 10,
         'Daphne': 20,
         'Meadow': 5,
         'Taylor': 22,
         'Lady': 115,
         'Mistletoe': 3,
         'Snotlout': 1,
         'Fredericka': 1,
         'Rally': 4,
         'Flynn': 10,
         'Baby Elic': 1,
         'Natasha': 9,
         'Loco': 12,
         'Big Joe': 1,
         'Reed': 4,
         'Luigi': 21,
         'Madame': 1,
         'Frisky': 5,
         'Kona': 29,
         'Sapphire': 16,
         'Miss Piggy': 3,
         'Sweet Girl': 1,
         'Toothless': 11,
         'Terry': 10,
         'Roxie': 65,
         'Lulu Belle': 4,
         'Chica': 31,
         'Dipper': 2,
         'Carbon': 1,
         'Keiko': 3,
         'Chloe': 125,
         'Jynx': 3,
         'Sunnie': 3,
         'Charles': 19,
         'Rooster  D10': 1,
         'Paddington': 4,
         'Lightning': 9,
         'Manman': 1,
         'Chona': 1,
         'Agnes': 6,
         'Starsky': 4,
         'Cheese': 4,
         'Teta': 1,
         'Charlie': 298,
         'Zack': 7,
         'Bond': 2,
         'Beauty': 17,
         'Monkey': 24,
         'Bandit': 71,
         'Sissy': 28,
         'Ruby Rose': 3,
         'Sky': 35,
         'Bubbles': 30,
         'Cyrano': 1,
         'Robin': 15,
         'Shy': 5,
         'Indy': 14,
         'Poptart': 3,
         'Peggy': 8,
         'Gypsy': 25,
         'Boris': 28,
         'Juliet': 29,
         'Wendy': 11,
         'Jamie': 10,
         'Tom': 20,
         'Blu': 14,
         'Melvin': 11,
         'Chase': 33,
         'Michael': 9,
         'Ziggy': 52,
         'Frankie': 53,
         'Macklin': 2,
         'Fritz': 13,
         'Sasha Marie': 2,
         'Jewel': 26,
         'Sunkist': 3,
         'Trouble': 17,
         'Cassie': 27,
         'Cricket': 24,
         'Otto': 24,
         'Truly': 2,
         'Banksy': 3,
         'Pumpkin': 56,
         'Saya': 1,
         'Yoda': 19,
         'Kujo': 4,
         'Mimi': 65,
         'Lyle': 13,
         'Ruby': 110,
         'Mikhail': 1,
         'Chiquita': 44,
         'Bling': 1,
         'Artemis': 20,
         'Mona Lisa': 2,
         'Nala': 106,
         'Desert': 2,
         'Mira': 5,
         'Hogan': 6,
         'Indigo': 13,
         'Junie': 10,
         'Gunner': 32,
         'Rosita': 5,
         'Coyote': 2,
         'Rupert': 11,
         'Kamilla': 1,
         'Pentagram': 3,
         'Boss': 44,
         'Skama': 5,
         'Rocco': 34,
         'Onion': 4,
         'Pico': 8,
         'Olaf': 11,
         'Serenity': 8,
         'Rodeo': 6,
         'Dottie': 35,
         'Rider': 4,
         'Faith': 39,
         'J Lo': 1,
         'Tuffy': 11,
         'Grisby': 1,
         'Gina': 8,
         'Shiloh': 18,
         'Hunter': 45,
         'Tori': 10,
         'Mattie': 12,
         'Hylander': 1,
         'Lohman': 1,
         'Sebastian': 40,
         'Perry': 4,
         'Sophia Loren': 2,
         'Franklin': 33,
         'Asher': 11,
         'Royce': 7,
         'Baxter': 56,
         'Goliath': 11,
         'Legs': 2,
         'Shaq': 3,
         'Lacy': 26,
         'Jujubee': 1,
         'Poncho': 12,
         'Ava': 22,
         'Morris': 14,
         'Kilo': 24,
         'Marcia': 5,
         'B.B.': 1,
         'Bogie': 4,
         'Marcus': 22,
         'Splash': 2,
         'Doggie': 2,
         'Martin': 17,
         'Nibzy': 1,
         'Pappy': 4,
         'Dakota': 38,
         'Avery': 21,
         'Darger': 2,
         'Amelia': 26,
         'Bugsy': 4,
         'Spice': 15,
         'Tazi': 2,
         'Fuzzy Butt': 1,
         'Montopolis': 4,
         'Junebug': 20,
         'Geno': 3,
         'Primrose': 5,
         'Lady Bug': 11,
         'Carnegie': 1,
         'Crockett': 5,
         'Omi': 4,
         'Gotti': 8,
         'Zayn': 1,
         'Riku': 3,
         'Gus': 49,
         'Sparkles': 6,
         'Walda': 1,
         'Leanna': 2,
         'Ice': 13,
         'Baily': 4,
         'Alfie': 16,
         'Milton': 18,
         'Iota': 3,
         'Flicka': 2,
         'Sugar': 90,
         'Eli': 21,
         'Olivia': 53,
         'Stacy': 8,
         'Loretta': 9,
         'Peluchin': 9,
         'Yomo': 1,
         'Tatiana': 4,
         'Santana': 2,
         'Zoe': 68,
         'Rigby': 9,
         'Carmelita': 2,
         'Jade': 49,
         'Wayne': 6,
         'Sarah': 21,
         'Paloma': 33,
         'Lulu': 96,
         'Turbey': 1,
         'Clyde': 42,
         'Beatriz': 1,
         'Bane': 5,
         'Liam': 9,
         'Rambo': 57,
         'Nali': 2,
         'Tora': 2,
         'Presley': 17,
         'Cheetah': 4,
         'Louise': 26,
         'Mr Kitters': 1,
         'Bambi': 37,
         'Betty': 52,
         'Moxy': 4,
         'Ponyta': 1,
         'Licorice': 3,
         'Amaro': 1,

In [60]:
def name_frequency(s):
    if s in name_freqs:
        return name_freqs[s]
    return 0

In [63]:
df_name['name_freq'] = df_name['name'].str.replace(r'(\*)', '').apply(lambda x: name_frequency(x))

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [67]:
name_freqs['Petete']

2

In [65]:
df_name.sample(50)

      animal_id          name  name_freq
16762   A689198       Kit Kat         16
59985   A756432           NaN          0
13749   A767729        Petete          2
67334   A666677           Max        381
31231   A680647     Mr. Magoo          1
15616   A696999        Claude          7
62082   A673638  Amir Dunmore          2
55322   A674640           NaN          0
14783   A694317         Mazey          4
73744   A701803           NaN          0
70014   A745054       Queeney          1
69145   A673966           NaN          0
2786    A652352         Leska          2
27922   A723477         Olive         61
79184   A713708        Willie         62
66705   A742055           NaN          0
60967   A667207       Freddie         14
79008   A687499           NaN          0
32350   A698561           NaN          0
22822   A722586        Snoopy         31
71510   A757008        Cooper         99
29130   A735472       Charlie        298
27556   A701017         Husky          1
19307   A676949           NaN          0
64756   A748723           NaN          0
44239   A748745         Chemo          1
19412   A689970         Clove          6
15435   A737515           NaN          0
48829   A699814           NaN          0
51499   A764548         Bella        382
18787   A669432          Rose         60
72042   A697204         Tyson         54
57479   A721317        Sophie        105
6306    A725539         Micro          3
73673   A761500          Coco        206
35181   A717113           Guy          3
47902   A761829           NaN          0
29736   A595590            Jo          9
76902   A738411           NaN          0
4388    A671082      Mcnugget          1
3318    A687391      Lee Anne          1
41411   A702302         Lilly         69
25107   A765817           NaN          0
60186   A676205           NaN          0
51017   A750205           NaN          0
62586   A739855           NaN          0
66363   A756549           NaN          0
13423   A569887         Riley         92
17281   A534548         Chloe        125
65444   A759974           NaN          0

In [68]:
df_name.to_csv('name_frequencies.csv')

In [69]:
df_hour_name = df_name.copy()

In [73]:
df_hour_name['hour'] = pd.to_datetime(df['datetime']).dt.hour

In [75]:
df_hour_name.to_csv('./data/hr_name.csv')

In [4]:
df.head()

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
0,8 years,A706918,Dog,English Springer Spaniel,White/Liver,2015-07-05T12:59:00.000,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Normal,Stray,Belle,Spayed Female
1,11 months,A724273,Dog,Basenji Mix,Sable/White,2016-04-14T18:43:00.000,2016-04-14T18:43:00.000,2818 Palomino Trail in Austin (TX),Normal,Stray,Runster,Intact Male
2,4 weeks,A665644,Cat,Domestic Shorthair Mix,Calico,2013-10-21T07:59:00.000,2013-10-21T07:59:00.000,Austin (TX),Sick,Stray,NaN,Intact Female
3,4 years,A682524,Dog,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014-06-29T10:38:00.000,2014-06-29T10:38:00.000,800 Grove Blvd in Austin (TX),Normal,Stray,Rio,Neutered Male
4,2 years,A743852,Dog,Labrador Retriever Mix,Chocolate,2017-02-18T12:46:00.000,2017-02-18T12:46:00.000,Austin (TX),Normal,Owner Surrender,Odin,Neutered Male

In [8]:
pickle.dump(name_freqs, open('name_freqs.pkl', 'wb'))

In [10]:
name_freqs['dksjgasdlkhjdsag']

0